name: Building New Resume
on:
  push:
    branches:
      - main
    paths:
      - 'resume.json'
      - '.github/workflows/build-resume.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Build recent resumes
        run: |
          npx resume export --theme=jsonresume-theme-stackoverflow-roboto resume.pdf
          npx resume export --theme=jsonresume-theme-stackoverflow-roboto resume.html
          mv resume.html index.html

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add resume.pdf index.html
          git commit -m "Update generated resume artifacts" || echo "No changes to commit"
          git push
